body {
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}

.c1 {
    height: 50px;
    width: auto;
    background-color: black;
    opacity: 50%;
    display: flex;
    margin: 0;
}

.logotip {
    padding: 5px 20px;
    background-image: url(imatges/logo.png);
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 5px;
}

.documentals1 {
    color: white;
    font-size: 20px;
    margin: 5px 20px;
}
.pelicules {
    color: white;
    font-size: 20px;
    margin: 5px;
}
.series {
    color: white;
    font-size: 20px;
    margin: 5px;
}

.facebook {
    color: white;
    font-size: 20px;
    margin: 5px;
}

.twitter {
    color: white;
    font-size: 20px;
    margin: 5px;
}

.plus {
    color: white;
    font-size: 20px;
    margin: 5px;
}

.documental {
    height: 300px;
    width: 175px;
    border-radius: 5%;
    float: left;
    margin: 20px;
}


.d1 {
    background-repeat: no-repeat;
    background-image: url(imatges/1982Koyaanisqatsi.jpg);
}

.d2 {
    background-repeat: no-repeat;
    background-image: url(imatges/2004YTuQueSabes.jpg);
}

.d3 {
    background-repeat: no-repeat;
    background-image: url(imatges/2005Earthlings.jpg);
}

.d4 {
    background-repeat: no-repeat;
    background-image: url(imatges/2007Helvetica.jpg);
}

.d5 {
    background-repeat: no-repeat;
    background-image: url(imatges/2007Sicko.jpg);
}

.d6 {
    background-repeat: no-repeat;
    background-image: url(imatges/2008Zeitgeist2.jpg);
}

.d7 {
    background-repeat: no-repeat;
    background-image: url(imatges/2009ArtAndCopy.jpg);
}

.d8 {
    background-repeat: no-repeat;
    background-image: url(imatges/2009Home.jpg);
}

.d9 {
    background-repeat: no-repeat;
    background-image: url(imatges/2009RipARemixManifesto.jpg);
}

.d10 {
    background-repeat: no-repeat;
    background-image: url(imatges/2010ComprarTirarComprar.jpg);
}

.d11 {
    background-repeat: no-repeat;
    background-image: url(imatges/2010InsideJob.jpg);
}

.d13 {
    background-repeat: no-repeat;
    background-image: url(imatges/2012SearchingForSugarMan.jpg);
}

.d14 {
    background-repeat: no-repeat;
    background-image: url(imatges/2012TheActOfKilling.jpg);
}

.d15 {
    background-repeat: no-repeat;
    background-image: url(imatges/2013ElEspirituDel45.jpg);
}

.titol {
    width: 175px;
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

.pelicula {
    height: 300px;
    width: 175px;
    border-radius: 5%;
    float: left;
    margin: 20px;
}

.p1 {
    background-image: url(imatges/XXXXpeli.jpg);
    background-repeat: no-repeat;
}
.p2 {
    background-image: url(imatges/XXXXpeli.jpg);
    background-repeat: no-repeat;
}